body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: rgb(173, 173, 173);
}
.container {
  max-width: 1000px;
  padding: 30px;
  margin: 100px auto 100px auto;
  background: white;
}
.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 36px;
}
.animal-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.animal {
  padding: 30px;
  max-width: calc(100% / 3);
}
.animal a{
  text-decoration: none;
}

img {
  max-width: 100%;
  box-shadow: 0px 0px 5px 0px rgb(15, 15, 15);
  border-radius: 20px;
  transition: all 0.5s linear;
}
.animal-name {
  margin: 10px 0 10px;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1.8em;
  font-weight: 600;
  color: #4a4a4a;
  
}
.animal-price {
  font-size: 1.2em;
  color: #575757;
}
.animal:hover img {
  opacity: 0.8;
  transform: translateY(-10px);
}
.animal:hover .animal-name{
  color: rgb(231, 0, 0);
}
@media (min-width: 740px) and (max-width: 1023px) {
  .animal {
    max-width: 300px;
  }
}
@media (max-width: 739px) {
  .animal {
    max-width: 300px;
  }
}
