@import "reset.css";
/* ------------------------------------------------------- */
/* header */
@import "header.css";
/* ------------------------------------------------------- */
/* footer */
@import "footer.css";
/* ------------------------------------------------------- */
/* nav-breadcrumb */
.nav-breadcrumb {
  margin-top: 8.125rem;
  margin-bottom: 1.25rem;
}
.breadcrumb__item--active {
  display: inline;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: var(--primary--color-1);
}
ul.breadcrumb li + li:before {
  padding: 0.5rem;
  color: var(--primary--color-2);
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: var(--primary--color-2);
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
ul.breadcrumb li a:hover {
  text-decoration: underline;
}
/* ------------------------------------------------------- */
/* cart */
#cart {
  margin: 1.25rem 0 100px;
}
.cart-table,
.cart-total-table {
  width: 100%;
  color: var(--primary--color-1);
}
thead tr {
  position: relative;
}
thead tr th {
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.625rem;
  padding-bottom: 0.625rem;
}
thead tr::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--primary--color-1);
}
.cart-form__cart-item {
  position: relative;
}
.cart-form__cart-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--primary--color-1);
}
.cart-form__cart-item span {
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: var(--primary--color-1);
}
tr td {
  padding: 0.625rem 0.625rem 0.625rem 0;
}
.product-remove{
  cursor: pointer;
}
.product-thumbnail {
  width: 4.375rem;
  height: 4.125rem;
}
.product-name a {
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: var(--primary--color-1);
}
.product-quantity .quantity {
  display: flex;
  gap: 2px;
}
.product-quantity input {
  border: 1px solid black;
  padding: 5px;
  min-width: 1.5rem;
  background: transparent;
}
.number-product {
  max-width: 1.875rem;
  text-align: center;
}
/* Hide Arrows From Input Number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.product-subtotal {
  text-align: right;
  padding-right: 0 !important;
}
.continue-shopping {
  display: inline-block;
}
.cart-total__item {
  position: relative;
}
.cart-total__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--primary--color-1);
}
.total-transport-fee input {
  padding: 5px 0.625rem;
}
.total-discount-code input {
  /* display: block; */
  padding: 5px 0.625rem;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.375rem;
  margin-bottom: 0.4rem;
}
.all-total-price-amount,
.all-total-price-amount span {
  font-weight: 600;
}

@media (max-width: 992px) {
  .nav-breadcrumb {
    margin-top: 5rem;
    margin-bottom: 1.25rem;
  }
  .breadcrumb {
    justify-content: center;
  }

  thead tr th {
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.625rem;
    padding-bottom: 0.625rem;
  }
  .product-subtotal {
    display: none;
  }
  .mobile-product-price {
    display: block;
  }
  .product-quantity {
    text-align: end;
  }
  .button-continue-shopping,
  .btn-update-cart {
    padding: 0.625rem;
  }
}
